@charset "UTF-8";
*{padding: 0 ; margin:0 ;
box-sizing : border-box;}
a{ text-decoration: none; color: black;}
a hover{ color: gray; }
li{list-style-type : none; }

.hd_box{width : 1280px; height : 50px; margin : 0 auto; position : relative; }
.hd_logo{width : 150px; height : 50px; float : left ;}
.hd_logo img{width : 150px; height : 50px;}
.hd_top{width : 250px; height : 20px; float : right ;}
.hd_menu{width : 500px; height : 30px; position : absolute; left : 800px; top : 20px;}
.hd_menu li{padding-right : 15px; display : inline-block;}

.main_img{width : 1920px; height : 300px; margin : 0 auto;}
.main_img img{width : 1920px; height : 300px;}
.main_ct{width : 1280px; height : 600px; margin : 0 auto;}

.ct_left{width : 200px; height : 220px; float : left ;}
.li_top{background-color: #516e7e ; color : #58a79a; height : 40px;
	font-weight : bold; font-size : 20px; padding: 5px;}
.li_sub{padding : 5px;}

.ct_right{ width: 1000px; height : 600px; float : right;}
.ctimg_box{ width : 400px; height : 350px; margin : 0 auto;}
.ctimg_box img{width : 400px; height : 350px;}


#footer{ background-color: black; }
.ft_box{width : 1280px; height : 150px; margin : 0 auto; position : relative;
	color : white;
}
.ft_logo{ width : 300px; height : 100px; position:absolute; left : 50px; top: 25px; }
.ft_ect{ width : 300px; height : 100px; position:absolute; right : 50px; top: 25px; }
